extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur dolor odio esse impedit architecto veniam, prcepturi, nobis repellat corrupti eligendi eos perspiciatis culpa?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, omnis magni! Ad quaerat doloribus nisi esse rerum quia deleniti eos aperiam quo facilis. Quos, fugiat accusantium
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam mollitia minima nisi distinctio est, accusantium accusamus id! Impedit volupt
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto ex ab, assumenda saepe voluptatibus non perferendis consequa
                .col-md-4    
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim veniam animi est eaque non, fugit consequuntur explicabo hic, ipsa nam rep
                .col-md-4    
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto ex ab, assumenda saepe voluptatibus non perferendis consequa